Front-Web/Connected Services/UsuarioWS/ServiceUsuario2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuarioc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cusuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idusuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuarioc" nillable="true" type="tns:Usuarioc" />
</xs:schema>