Front-Web/Connected Services/DespachoWS/ServiceDespacho.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Despacho">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_compra" type="xs:int" />
      <xs:element minOccurs="0" name="id_despacho" type="xs:int" />
      <xs:element minOccurs="0" name="id_tipo_estado" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Despacho" nillable="true" type="tns:Despacho" />
  <xs:complexType name="ArrayOfDespacho">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Despacho" nillable="true" type="tns:Despacho" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDespacho" nillable="true" type="tns:ArrayOfDespacho" />
</xs:schema>