Front-Web/Connected Services/DespachoWS/ServiceDespacho.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceDespacho" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53331/ServiceDespacho.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53331/ServiceDespacho.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Servicio_Mant.Errores" />
      <xsd:import schemaLocation="http://localhost:53331/ServiceDespacho.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53331/ServiceDespacho.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDespacho_CrearDespacho_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearDespacho" />
  </wsdl:message>
  <wsdl:message name="IServiceDespacho_CrearDespacho_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearDespachoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDespacho_CrearDespacho_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Servicio_Mant.Errores" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IServiceDespacho_ObtenerDespacho_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDespacho" />
  </wsdl:message>
  <wsdl:message name="IServiceDespacho_ObtenerDespacho_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDespachoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDespacho_ListarDespachos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarDespachos" />
  </wsdl:message>
  <wsdl:message name="IServiceDespacho_ListarDespachos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarDespachosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDespacho">
    <wsdl:operation name="CrearDespacho">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDespacho/CrearDespacho" message="tns:IServiceDespacho_CrearDespacho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDespacho/CrearDespachoResponse" message="tns:IServiceDespacho_CrearDespacho_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceDespacho/CrearDespachoRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IServiceDespacho_CrearDespacho_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDespacho">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDespacho/ObtenerDespacho" message="tns:IServiceDespacho_ObtenerDespacho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDespacho/ObtenerDespachoResponse" message="tns:IServiceDespacho_ObtenerDespacho_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarDespachos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDespacho/ListarDespachos" message="tns:IServiceDespacho_ListarDespachos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDespacho/ListarDespachosResponse" message="tns:IServiceDespacho_ListarDespachos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDespacho" type="tns:IServiceDespacho">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearDespacho">
      <soap:operation soapAction="http://tempuri.org/IServiceDespacho/CrearDespacho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDespacho">
      <soap:operation soapAction="http://tempuri.org/IServiceDespacho/ObtenerDespacho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDespachos">
      <soap:operation soapAction="http://tempuri.org/IServiceDespacho/ListarDespachos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDespacho">
    <wsdl:port name="BasicHttpBinding_IServiceDespacho" binding="tns:BasicHttpBinding_IServiceDespacho">
      <soap:address location="http://localhost:53331/ServiceDespacho.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>