WCFServiceTest/Connected Services/DespachoWS/ServiceDespacho2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53331/ServiceDespacho.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" />
  <xs:element name="CrearDespacho">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" minOccurs="0" name="DespachoACrear" nillable="true" type="q1:Despacho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDespachoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" minOccurs="0" name="CrearDespachoResult" nillable="true" type="q2:Despacho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDespacho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_compra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDespachoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" minOccurs="0" name="ObtenerDespachoResult" nillable="true" type="q3:Despacho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDespachos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDespachosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" minOccurs="0" name="ListarDespachosResult" nillable="true" type="q4:ArrayOfDespacho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>