Front-Web/Connected Services/WSArticulos/ServiceArticulo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceArticulo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53331/ServiceArticulo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53331/ServiceArticulo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53331/ServiceArticulo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceArticulo_CrearArticulo_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearArticulo" />
  </wsdl:message>
  <wsdl:message name="IServiceArticulo_CrearArticulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArticulo_ObtenerArticulo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerArticulo" />
  </wsdl:message>
  <wsdl:message name="IServiceArticulo_ObtenerArticulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArticulo_ModificarArticulo_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarArticulo" />
  </wsdl:message>
  <wsdl:message name="IServiceArticulo_ModificarArticulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArticulo_EliminarArticulo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarArticulo" />
  </wsdl:message>
  <wsdl:message name="IServiceArticulo_EliminarArticulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArticulo_ListaArticulos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaArticulos" />
  </wsdl:message>
  <wsdl:message name="IServiceArticulo_ListaArticulos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaArticulosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceArticulo">
    <wsdl:operation name="CrearArticulo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArticulo/CrearArticulo" message="tns:IServiceArticulo_CrearArticulo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArticulo/CrearArticuloResponse" message="tns:IServiceArticulo_CrearArticulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerArticulo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArticulo/ObtenerArticulo" message="tns:IServiceArticulo_ObtenerArticulo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArticulo/ObtenerArticuloResponse" message="tns:IServiceArticulo_ObtenerArticulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarArticulo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArticulo/ModificarArticulo" message="tns:IServiceArticulo_ModificarArticulo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArticulo/ModificarArticuloResponse" message="tns:IServiceArticulo_ModificarArticulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarArticulo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArticulo/EliminarArticulo" message="tns:IServiceArticulo_EliminarArticulo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArticulo/EliminarArticuloResponse" message="tns:IServiceArticulo_EliminarArticulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaArticulos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArticulo/ListaArticulos" message="tns:IServiceArticulo_ListaArticulos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArticulo/ListaArticulosResponse" message="tns:IServiceArticulo_ListaArticulos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceArticulo" type="tns:IServiceArticulo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearArticulo">
      <soap:operation soapAction="http://tempuri.org/IServiceArticulo/CrearArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerArticulo">
      <soap:operation soapAction="http://tempuri.org/IServiceArticulo/ObtenerArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarArticulo">
      <soap:operation soapAction="http://tempuri.org/IServiceArticulo/ModificarArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarArticulo">
      <soap:operation soapAction="http://tempuri.org/IServiceArticulo/EliminarArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaArticulos">
      <soap:operation soapAction="http://tempuri.org/IServiceArticulo/ListaArticulos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceArticulo">
    <wsdl:port name="BasicHttpBinding_IServiceArticulo" binding="tns:BasicHttpBinding_IServiceArticulo">
      <soap:address location="http://localhost:53331/ServiceArticulo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>