Front-Web/Connected Services/WSArticulos/ServiceArticulo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Articulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="descArticulo" nillable="true" type="xs:string" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="idArticulo" type="xs:int" />
      <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="idUnidadMedida" type="xs:int" />
      <xs:element minOccurs="0" name="precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Articulo" nillable="true" type="tns:Articulo" />
  <xs:complexType name="ArrayOfArticulo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Articulo" nillable="true" type="tns:Articulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticulo" nillable="true" type="tns:ArrayOfArticulo" />
</xs:schema>