Front-Web/Connected Services/ComprasWS/ServiceCompra2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53331/ServiceCompra.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" />
  <xs:element name="CrearCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" minOccurs="0" name="compraACrear" nillable="true" type="q1:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" minOccurs="0" name="CrearCompraResult" nillable="true" type="q2:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcompra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" minOccurs="0" name="ObtenerCompraResult" nillable="true" type="q3:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" minOccurs="0" name="compraAModificar" nillable="true" type="q4:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" minOccurs="0" name="ModificarCompraResult" nillable="true" type="q5:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcompra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCompra">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" minOccurs="0" name="ListarCompraResult" nillable="true" type="q6:ArrayOfCompra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>