Front-Web/Connected Services/ComprasWS/ServiceCompra.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCompra" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53331/ServiceCompra.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53331/ServiceCompra.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53331/ServiceCompra.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCompra_CrearCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCompra" />
  </wsdl:message>
  <wsdl:message name="IServiceCompra_CrearCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCompra_ObtenerCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompra" />
  </wsdl:message>
  <wsdl:message name="IServiceCompra_ObtenerCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCompra_ModificarCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCompra" />
  </wsdl:message>
  <wsdl:message name="IServiceCompra_ModificarCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCompra_EliminarCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCompra" />
  </wsdl:message>
  <wsdl:message name="IServiceCompra_EliminarCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCompra_ListarCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCompra" />
  </wsdl:message>
  <wsdl:message name="IServiceCompra_ListarCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCompraResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCompra">
    <wsdl:operation name="CrearCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompra/CrearCompra" message="tns:IServiceCompra_CrearCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompra/CrearCompraResponse" message="tns:IServiceCompra_CrearCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompra/ObtenerCompra" message="tns:IServiceCompra_ObtenerCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompra/ObtenerCompraResponse" message="tns:IServiceCompra_ObtenerCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompra/ModificarCompra" message="tns:IServiceCompra_ModificarCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompra/ModificarCompraResponse" message="tns:IServiceCompra_ModificarCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompra/EliminarCompra" message="tns:IServiceCompra_EliminarCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompra/EliminarCompraResponse" message="tns:IServiceCompra_EliminarCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompra/ListarCompra" message="tns:IServiceCompra_ListarCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompra/ListarCompraResponse" message="tns:IServiceCompra_ListarCompra_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCompra" type="tns:IServiceCompra">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearCompra">
      <soap:operation soapAction="http://tempuri.org/IServiceCompra/CrearCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompra">
      <soap:operation soapAction="http://tempuri.org/IServiceCompra/ObtenerCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCompra">
      <soap:operation soapAction="http://tempuri.org/IServiceCompra/ModificarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCompra">
      <soap:operation soapAction="http://tempuri.org/IServiceCompra/EliminarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCompra">
      <soap:operation soapAction="http://tempuri.org/IServiceCompra/ListarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCompra">
    <wsdl:port name="BasicHttpBinding_IServiceCompra" binding="tns:BasicHttpBinding_IServiceCompra">
      <soap:address location="http://localhost:53331/ServiceCompra.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>