Front-Web/Connected Services/ComprasDetalleWS/ServiceCompraD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCompraD" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53331/ServiceCompraD.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53331/ServiceCompraD.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53331/ServiceCompraD.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCompraD_CrearCompraD_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCompraD" />
  </wsdl:message>
  <wsdl:message name="IServiceCompraD_CrearCompraD_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearCompraDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCompraD_ObtenerCompraD_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompraD" />
  </wsdl:message>
  <wsdl:message name="IServiceCompraD_ObtenerCompraD_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompraDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCompraD_ModificarCompraD_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCompraD" />
  </wsdl:message>
  <wsdl:message name="IServiceCompraD_ModificarCompraD_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCompraDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCompraD_EliminarCompraD_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCompraD" />
  </wsdl:message>
  <wsdl:message name="IServiceCompraD_EliminarCompraD_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCompraDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCompraD_ListarCompraD_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCompraD" />
  </wsdl:message>
  <wsdl:message name="IServiceCompraD_ListarCompraD_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCompraDResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCompraD">
    <wsdl:operation name="CrearCompraD">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompraD/CrearCompraD" message="tns:IServiceCompraD_CrearCompraD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompraD/CrearCompraDResponse" message="tns:IServiceCompraD_CrearCompraD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompraD">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompraD/ObtenerCompraD" message="tns:IServiceCompraD_ObtenerCompraD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompraD/ObtenerCompraDResponse" message="tns:IServiceCompraD_ObtenerCompraD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCompraD">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompraD/ModificarCompraD" message="tns:IServiceCompraD_ModificarCompraD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompraD/ModificarCompraDResponse" message="tns:IServiceCompraD_ModificarCompraD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCompraD">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompraD/EliminarCompraD" message="tns:IServiceCompraD_EliminarCompraD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompraD/EliminarCompraDResponse" message="tns:IServiceCompraD_EliminarCompraD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCompraD">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompraD/ListarCompraD" message="tns:IServiceCompraD_ListarCompraD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompraD/ListarCompraDResponse" message="tns:IServiceCompraD_ListarCompraD_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCompraD" type="tns:IServiceCompraD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearCompraD">
      <soap:operation soapAction="http://tempuri.org/IServiceCompraD/CrearCompraD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompraD">
      <soap:operation soapAction="http://tempuri.org/IServiceCompraD/ObtenerCompraD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCompraD">
      <soap:operation soapAction="http://tempuri.org/IServiceCompraD/ModificarCompraD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCompraD">
      <soap:operation soapAction="http://tempuri.org/IServiceCompraD/EliminarCompraD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCompraD">
      <soap:operation soapAction="http://tempuri.org/IServiceCompraD/ListarCompraD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCompraD">
    <wsdl:port name="BasicHttpBinding_IServiceCompraD" binding="tns:BasicHttpBinding_IServiceCompraD">
      <soap:address location="http://localhost:53331/ServiceCompraD.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>