Front-Web/Connected Services/ComprasDetalleWS/ServiceCompraD1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicio_Mant.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompraD">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Descuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdArticulo" type="xs:int" />
      <xs:element minOccurs="0" name="IdCompra" type="xs:int" />
      <xs:element minOccurs="0" name="IdCompraD" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Subtotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompraD" nillable="true" type="tns:CompraD" />
  <xs:complexType name="ArrayOfCompraD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompraD" nillable="true" type="tns:CompraD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompraD" nillable="true" type="tns:ArrayOfCompraD" />
</xs:schema>